.modal {
  /* display: none; */
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  /* overflow: auto; */
  z-index: 1;
}

.modalContent {
  width: 80%;
  margin: 5em auto;
  padding: 1em;
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.modalButton {
  display: block;
  margin: 0 0 0 auto;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 2.4rem;
  outline: 0;
}

@media (min-width: 768px) {
  .modalContent {
    width: 60%;
  }
}
