header {
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: #fff;
  text-align: center;
}

.container {
  width: 100%;
  height: 50vh;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .container {
    display: flex;
  }
}
