label {
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 0.25em 0.5em;
  border: 1px solid var(--gray);
  cursor: pointer;
}

.textareaCounter {
  display: block;
  font-size: 1.4rem;
  text-align: end;
}
