.header {
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: var(--blue);
  color: #fff;
}

.headerCaption {
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: #fff;
 }

aside {
  height: 100%;
  display: block;
  padding-right: 0.5em;
  margin-right: auto;
}

table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  box-shadow: var(--box-shadow);
  font-size: clamp(1rem, 1.2vw, 1.2rem);
}

table * th,
table * td {
  width: calc(100% / 3);
  padding: 0.5em;
  border-bottom: 1px solid var(--gray);
  text-align: left;
}

table * tr:hover,
table * tr:focus {
  background-color: var(--lg-gray);
}

table * tr {
  background-color: #fff;
  border-bottom: 1px solid var(--gray);
}

@media (min-width: 768px) {
  aside {
    flex: 0 1 35%;
  }
}
