form {
  width: 100%;
  padding: 1em;
  background-color: var(--color-bc);
  border: 1px solid var(--gray);
}

label {
  display: block;
}

input, textarea {
  width: 100%;
  padding: 0.25em 0.5em;
  border: 1px solid var(--gray);
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.buttonContainer > button {
   flex: 0 1 20%;
    margin: 1em 0 0 0.5em;
}
