/* ---------- GLOBAL ---------- */
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@100;400;&display=swap");

html {
  font-size: 62.5%;
}

body {
  @include tablet {
    overflow: hidden;
  }
}

// Font size
h1 {
  color: $color-text;
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 3vw, 3.1rem);
  text-align: center;
}

h2 {
  color: $color-dk-gray;
  font-family: "Special Elite", cursive;
  font-size: clamp(3rem, 6vw, 6.9rem);
  text-align: center;
}

// links
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: $transitions;
}

a:hover,
a:focus {
  text-decoration: underline;
  opacity: 0.5;
}

a,
button,
form,
input,
h5,
p,
select,
span,
table {
  font-family: "Roboto", Arial, sans-serif;
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  font-weight: 400;
}

.caption {
  font-family: Poppins, Arial, sans-serif;
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
}

// lists
li {
  list-style-type: none;
}
