// COLOURS
$color-text: #282828;
$color-dk-gray: #4a4a4a;
$color-lg-gray: #fbfbfb;
$color-gray: #dddddd;
$color-red: #eb2f06;
$color-green: #2ecc71;

// effects
$box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.25);
$overlay: rgba(0,0,0,0.35);
$text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.5);
$transitions: all 0.5s ease;
