.error__container {
    @include tablet {
        height: 80vh;
        display: flex;
        align-items: center;
    }
}

.error__text,
.error__image {
    @include tablet {
        width: 50%;
    }
}

.error__text {
    h1 {
        color: $color-orange;
    }

    h2,
    h3 {
        margin-bottom: 0.5em;
        color: $color-dk-blue;
    }

    & > p {
        margin-bottom: 0.5em;
    }

    .error__link {
        font-weight: bold;
        text-decoration: underline;

        &:hover {
            color: $color-dk-blue;
        }
    }
}

.error__image {
    img {
        width: 100%;
    }
    .caption {
        color: $color-silver;
        font-size: 1rem;
        text-align: right;
        font-style: italic;
    }
}
