/* ---------- GLOBAL ---------- */
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@100;400;&display=swap");

html {
  font-size: 62.5%;
}

body {
  @include tablet {
    overflow: hidden;
  }
}

// Fonts
h1,
h2,
h3 {
  color: $color-text;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: clamp(2.1rem, 3vw, 3.1rem);
}

h2 {
  font-size: clamp(1.6rem, 2.1vw, 2.1rem);
}

h3 {
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
}

// links
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: $transitions;
}

a:hover,
a:focus {
  text-decoration: underline;
 }

a,
button,
form,
input,
h5,
p,
select,
span,
table {
  font-family: "Roboto", Arial, sans-serif;
  font-size: clamp(1.2rem, 1.6vw, 1.6rem); 
}

.caption {
  font-family: Poppins, Arial, sans-serif;
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
}

// lists
li {
  list-style-type: none;
}
