* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

h1 {
  color: #2f3542;
  font-size: clamp(2rem, 3.9vw, 3.9rem);
}

h2 {
  margin: 1em 0;
  color: #2f3542;
  font-size: clamp(1.6rem, 2vw, 2rem);
}

header {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  height: 68vh;
}

.form__container form {
  padding: 2em;
  border-top: 1px solid #f1f2f6;
  border-bottom: 1px solid #f1f2f6;
}

@media (min-width: 768px) {
  .form__container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.form__container form label {
  display: block;
  color: #282828;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .form__container form label {
    display: inline-block;
    margin-right: 0.5em;
  }
}

.form__container form input,
.form__container form select,
.form__container form option {
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.45em;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .form__container form input,
  .form__container form select,
  .form__container form option {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
    margin-right: 0.5em;
  }
}

.form__container form .button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form__container form .button__container button {
  width: 32%;
  display: inline-block;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1.6rem;
  border: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .form__container form .button__container button {
    width: auto;
  }
}

.form__container form .button__container .button-submit {
  background-color: #2980b9;
  border: 1px solid #2980b9;
  color: #fff;
}

.form__container form .button__container .button-submit:hover, .form__container form .button__container .button-submit:focus {
  background-color: #1b557a;
}

.form__container form .button__container .button-clear {
  background-color: #fff;
  border: 1px solid #2980b9;
  color: #2980b9;
}

.form__container form .button__container .button-clear:hover, .form__container form .button__container .button-clear:focus {
  background-color: #2980b9;
  color: #fff;
}

.form__container form .button__container .button-delete {
  background-color: #fff;
  border: 1px solid #e74c3c;
  color: #e74c3c;
}

.form__container form .button__container .button-delete:hover, .form__container form .button__container .button-delete:focus {
  background-color: #e74c3c;
  color: #fff;
}

.form__container form .button__container .button-clear.disabled,
.form__container form .button__container .button-delete.disabled {
  border-color: gray;
  color: gray;
  pointer-events: none;
}

.results__container {
  height: 100%;
  padding: 0 2em;
}

@media (min-width: 768px) {
  .results__container {
    overflow-y: auto;
  }
}

.results__container h3 {
  margin: 1em 0 0.5em 0;
}

.results__container .root {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .results__container .root ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.results__container li {
  display: block;
  padding: 0.5em;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-left: 1px solid transparent;
}

.results__container li:hover, .results__container li:focus {
  background-color: #f1f2f6;
  border-color: gray;
}

@media (min-width: 768px) {
  .results__container li {
    -webkit-box-flex: 1;
        -ms-flex: 1 30%;
            flex: 1 30%;
  }
}

@media (min-width: 1024px) {
  .results__container li {
    -webkit-box-flex: 1;
        -ms-flex: 1 25%;
            flex: 1 25%;
  }
}

.results__container li span {
  pointer-events: none;
}

.results__container li span:not(:last-child) {
  margin-right: 0.25em;
}

.results__container li span:last-child {
  font-style: italic;
}

.results__container li.selected {
  color: #2980b9;
}
/*# sourceMappingURL=main.css.map */